<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>CWVH2JB964</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.dis.casmex</key>
        <string>match AppStore com.dis.casmex</string>
    </dict>
    <key>signingCertificate</key>
    <string>Apple Distribution: Ajith Ds (CWVH2JB964)</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>uploadBitcode</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>