<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19560521545-68i8ovg044d2ukhokq9kd09eip0vv8cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19560521545-68i8ovg044d2ukhokq9kd09eip0vv8cb</string>
	<key>API_KEY</key>
	<string>AIzaSyB6XaB2vzIbKmPqOCRm4q8QGB6bJx1r3Gg</string>
	<key>GCM_SENDER_ID</key>
	<string>19560521545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dis.casmex</string>
	<key>PROJECT_ID</key>
	<string>casmex-53899</string>
	<key>STORAGE_BUCKET</key>
	<string>casmex-53899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19560521545:ios:8e2335a4e7c73f48468498</string>
</dict>
</plist>